  img.ucc-logo {
    padding:0.9em 1em 0 1em;
  }
  div#content-primary {
    width: 83%;
  }
  div#content-secondary {
    width: 15%;
  }
.highlighted{
  color: white;
  background-color: #333366;
}
blockquote { color:#666; font-style:normal; }
#imgPreviewWithStyles {
	border:1px solid #ccc;
	background:white;
	padding:5px;
	display:none;
	color:#fff;
	}

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100% }

.Measurement{
 background-color:#339933; 
  color:white;
}
.Analysis{
  background-color:#66CC99; 
  color:white;
}
.Observation{
  background-color:#FFCC99; 
  color:white;
}
.Indication{
  background-color:#6666CC; 
  color:white;
}

.LOCATION{
  background-color:#800080; 
  color:white;
	}
.LocationPhrase{
  background-color:#FF00FF; 
  color:white;
	}

.CAMPAIGN{
  background-color:#0000FF;
  color:white;
	}

.Quantity{
  background-color:#008080; 
  color:white;
	}

.MODEL{
  background-color:#FF0000; 
  color:white;
	}

.NNP-MODEL{
  background-color:#FF0000; 
  color:white;
	}

.Apparatus{
  background-color:#4682B4; 
  color:white;
	}
.NNP-APPARATUS{
  background-color:#4682B4; 
  color:white;
	}

.MATHEXPRESSION{
  background-color:#808080; 
  color:white;
	}
.MATHEQUATION{
  background-color:#C0C0C0; 
  color:white;
	}
.UNITS{
  background-color:#00FFFF; 
  color:white;
	}


.ApparatusAction{
  background-color:blue; 
  color:white;
}

.Add{
  background-color:#6666CC; 
  color:white;
}

.Dry{
  background-color:#FFCC33; 
  color:white;
}
.Dissolve{
  background-color:#66CC99; 
  color:white;
}
.Extract{
  background-color:#FFCC99; 
  color:white;
}
.Stir{
  background-color:#660033; 
  color:white;
}

.Concentrate{
  background-color:#999933; 
  color:white;
}
.Mix{
  background-color:#778899; 
  color:white;
}
.Wash{
  background-color:#99CCCC; 
  color:white;
}
.Purify{
  background-color:#999999; 
  color:white;
}
.Remove{
  background-color:#CCCC66; 
  color:white;
}

.Yield{
  background-color:#339933; 
  color:white;
}

.Cool{
  background-color:	#3BB9FF; 
  color:white;
}

.Heat{
  background-color:#C12869; 
  color:white;
}
.Pour{
  background-color:	#9E7BFF; 
  color:white;
}
.Filter{
  background-color:#000066; 
  color:white;
}

.Recover{
  background-color:#99FF00; 
  color:white;
}

.Degass{
  background-color:#990033; 
  color:white;
}
.Quench{
  background-color:#FF3333; 
  color:white;
}

.Precipitate{
  background-color:#996633; 
  color:white;
}

.Wait{
  background-color:#CC00CC; 
  color:white;
}

.Split{
  background-color:#DCDCDC; 
  color:white;
}
	

.Equip{
  background-color:#556B2F; 
  color:white;
}

.Synthesize{
  background-color:#333333; 
  color:white;
}

.Seal{
  background-color:#CC3300; 
  color:white;
}

.PrepPhrase{
  background-color:#CC9966; 
  color:white;
}

.NounPhrase{
  background-color:#cccc99; 
  color:white;
}

.VerbPhrase{
  background-color:#330033; 
  color:white;
}

.AcronymPhrase{
  background-color:#FFA500; 
  color:white;
	}

.Solvent{
  background-color:#666699; 
  color:white;
}

.Reactant{
  background-color:#999999; 
  color:white;
}

.Product{
  background-color:#66CC00; 
  color:white;
}
.Other{
  background-color:#996666; 
  color:white;
}

.TempPhrase{
  background-color:#C25A7C; 
  color:white;
}

.TimePhrase{
  background-color:#990033; 
  color:white;
}

.AtmospherePhrase{
  background-color:#006666; 
  color:white;
}
.TransitionPhrase{
  background-color:#7B68EE; 
  color:white;
}
.ParentheticalPhrase{
  background-color:#DDA0DD; 
  color:white;
}
